Language: Cpp
ColumnLimit: 120
PointerAlignment: Middle
IndentWidth: 4
UseTab: Never
AlignTrailingComments: true
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
ExperimentalAutoDetectBinPacking: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
PenaltyExcessCharacter: 20  # Higher penalty for exceeding limit
PenaltyBreakBeforeFirstCallParameter: 50
PenaltyReturnTypeOnItsOwnLine: 100
